*{
    margin: 0px;
    padding-left: 0%;
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header h1{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 440px;
    padding-top: 200px;
    color: rgb(241, 140, 0);
    text-shadow: 8px 8px black;
    display: block;
    background-image: url(https://64.media.tumblr.com/b4cc31f7b6622ae008b9421091bbbfdf/21af4e1bd2d811b4-e9/s640x960/3baa38ebf007ae4c2f34a8fcd9e8b9e379fb1cf3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    width: 100%;
    background-position-y: -350px;
}

main article h1{
    background-color: black;
    color: white;
    padding-bottom: 10px;
    font-size: 40px;
    padding-top: 30px;
}

main article p{
    padding-top: 10px;
    padding-bottom: 10px;
}


main article h2{
    padding-top: 5px;
    background-color: black;
    color: white;
}

main article img{
    padding-left: 90px;

}

main article h3{
    text-align: center;
    color: rgb(167, 142, 0);
}

main article a{
    padding-left: 580px;
    color: rgb(62, 62, 30);

}

footer{
    text-align: center;
}

#separação{
    width: 100%;
    height: 30px;
    display: block;
    background-color: black;
    margin-bottom: 10px;
}


#tmnc{
    width: 100%;
    height: 30px;
    background-color: black;
    margin-top: 15px;
}


#tmnc img{
    
    margin-top: 40px;

}

#tmnc p{
    
    text-align: center;
}


body article h3{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


main article img{
    padding-left: 110px;
    
}

article #transparente h2{
    background-color: transparent;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    
}

article #nuvem img{
    height: 300px;
    width: 500px;
    margin-bottom: 100px;
}

article h4{
    margin-bottom: 15px;
    margin-top: 100px;
}
 

#icons{

    display: list-item;

}

#icons img{

    float: left;
    display: list-item;
    list-style: none;

}

.teixto span{

    position: relative;

}

.teixto span::before{

    content: "";
    color: blueviolet;
    animation: palavras 5s infinite;

}

.teixto span::after{

    content: "";
    position: absolute;
    height: 100%;
    border: 2px solid blueviolet;
    right: -10px;
    animation: cursor .5s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: transparent;

}

@keyframes digita {

    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{

        width: 0;

    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{

        width: calc(100% + 18px);

    }
    
}

@keyframes cursor{

    0%{

        border-left: 2px solid transparent;

    }

}

@keyframes palavras {

    0%,20%{

        content: "and";

    }
    21%,40%{

        content: " languages";

    }

}